// 2-color_variables.scss

$text-color: #3D3D3D;
$background-color: #6D6D6D;

body {
  color: $text-color;
  background-color: $background-color;
}

p {
  color: inherit; // Inherit text color from the parent scss???????
}